# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Allow project files but ignore build outputs
Builds/**/build/
Builds/**/DerivedData/
Builds/**/*.xcworkspace/xcuserdata/
Builds/**/*.user
Builds/**/*.suo
Builds/**/*.opensdf
Builds/**/*.sdf
Builds/**/Debug/
Builds/**/Release/
Builds/**/x64/
!Builds/
!Builds/**/*.xcodeproj/
!Builds/**/*.sln
!Builds/**/*.vcxproj
!Builds/**/*.filters
!Builds/**/*.plist
!Builds/**/*.nib
!Builds/**/*.rc
ableton-test Project
reaper-test
.DS_Store

DO NOT DISTRIBUTE